<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="designt.university.re.ingeca" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MoufiaCampusActivity" />
        <activity android:name=".CartesActivity" />
        <activity android:name=".ActivityActivity" />
        <activity android:name=".activities.CovoitActivity" />
        <activity android:name=".activities.GlobalActivity" />
        <activity android:name=".activities.HelpActivity" />
        <activity android:name=".activities.AllActivity" />
        <activity android:name=".ForumsActivity" />
        <activity android:name=".forums.InformationActivity" />
        <activity android:name=".forums.information.BureauActivity" />
        <activity android:name=".forums.information.DiplomeActivity" />
    </application>

</manifest>